body {
    font-family: sans-serif;
    margin: 20px;
}

/* Contenedor para el canvas o canvases; posición relativa para colocar campos sobre él */
#pdf-container {
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    margin-bottom: 20px;
}

canvas {
    display: block;
    margin-bottom: 10px;
}

/* Estilo para los campos arrastrables (en modo una página) */
.draggable {
    position: absolute;
    border: 1px dashed blue;
    /* background: rgba(255, 255, 255, 0.8); */
    background: transparent;
    box-sizing: border-box;
    overflow: visible;
}

/* Handle para redimensionar (esquina inferior derecha) */
.resize-handle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: blue;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

button,
label {
    margin: 5px;
}

/* Panel de propiedades para campos de texto */
#field-properties {
    /* display: none; */
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
}

.field-buttons {
    position: absolute;
    top: -30px;
    /* Valor negativo para que se sitúe sobre el campo */
    left: 1px;
    display: none;
    /* Se muestra al seleccionar el campo */
    z-index: 100;
}

.field-buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 1px;
}